<div class="lib-comp-cardlist">
    <div class="lib-comp-cardlist__container">
        
        {# Card Item #}
        <div class="lib-comp-card">
            <div class="lib-comp-card__image">Imagen aquí</div>
            <div class="lib-comp-card__content">
                <h2 class="lib-comp-card__title">Título Card</h2>
                <div class="lib-comp-card__body">
                    Body content
                </div>
            </div>
        </div>
        {# End Card Item #}

    </div>
</div>