
<div class="lib-comp-carrousel">
	<div
		class="lib-comp-carrousel__items">

		{# Items carrousel #}
		<div class="lib-comp-carrousel__item">
			<div class="lib-comp-carrousel__card">
				<div class="lib-comp-carrousel__content">
					<h2 class="lib-comp-carrousel__title">Texto Principal</h2>
					<h3 class="lib-comp-carrousel__title">Texto Secundario</h3>
					<a href="#" class="lib-comp-button lib-comp-carrousel__button">Botón</a>
				</div>
				<div
					class="lib-comp-carrousel__image">{# Image #}
				</div>
			</div>
		</div>
		{# End Items carrousel #}

	</div>

	<div
		class="lib-comp-carrousel__nav">
		{# circles #}
		<span class="lib-comp-carrousel__circle"></span>
	</div>
</div>
