<div class="lib-comp-interested">
    <h2 class="lib-comp-interested__title">También podría interesar</h2>
    <div class="lib-comp-interested__grid">
        {# Cards #}
        <a href="#" class="lib-comp-interested__card">
            <span class="lib-comp-interested__icon">ICON</span>
            <span class="lib-comp-interested__text">Texto botón</span>
        </a>
        {# End Cards #}
    </div>
</div>