:root {
    --yellow-color: #FFD000;
    --primary-color: #1A1446;
    --button-color: #78E1E1;
    --black-color: #333;
    --gray-color: #ccc;
    --desktop: 1140px;
    --height-banner: 450px;
  }

h1, h2, h3, h4, h6 {
    color: var(--primary-color);
}

.lib-comp-button {
    background: var(--button-color);
    padding: 0.8rem 2rem;
    margin: 1.5rem auto;
    display: table;
    text-align: center;
    border-radius: 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--primary-color);
}

.lib-comp-button__yellow, .lib-comp-button-yellow, .lib-comp-button--yellow {
    background: var(--yellow-color);
}

.lib-comp-button__blue, .lib-comp-button-blue, .lib-comp-button--blue {
    background: var(--primary-color);
    color: white;
}

.lib-comp-button__light-blue, .lib-comp-button-light-blue, .lib-comp-button--light-blue {
    background: var(--button-color);
}

.lib-comp-breaker {
    background-color: var(--button-color);
    padding: 3rem 0;
}

.lib-comp-breaker__wrapper {
    max-width: var(--desktop);
    margin: 4rem auto;
    display: flex;
    gap: 2rem;
    flex-direction: row;
}

.lib-comp-breaker__info .lib-comp-button {
    background-color:white;
}

.lib-comp-qaccess {
    max-width: var(--desktop);
    margin: 4rem auto;
}

.lib-comp-qaccess__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
}

.lib-comp-qaccess__card {
    box-shadow: 0 0 15px rgb(0 0 0 / 10%);
    border-radius: 12px;
    padding: 1rem;
}

.lib-comp-qaccess__icon img {
    max-width: 40px;
    height: auto;
}

.lib-comp-qaccess__icon {
    margin-bottom: 1rem;
    border-bottom: 1px solid lightgray;
}

.lib-comp-qaccess__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: .5rem;
}

.lib-comp-qaccess__icon-item img {
    max-width: 30px;
    height: auto;
}

.lib-comp-qaccess__title {
    text-align: center;
    font-size: 2rem;
    font-weight: lighter;
    padding: 1rem 0 2rem;
}

.lib-comp-qaccess__icon-item {
    margin-right: .5rem;
}

.lib-comp-qaccess__icon-text a {
    color: var(--black-color);
    text-decoration: none;
}

@media (max-width: 920px) {
    .lib-comp-breaker__wrapper {
        flex-direction: column;
    }

    .lib-comp-qaccess__grid {
        grid-template-columns: repeat(1, 1fr);
    }
}
